@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwindcss /line-clamp;

.typing {
  overflow: hidden;
  border-right: 0.15em solid orange;
  white-space: nowrap;
  animation: typing 5s steps(100, end) forwards;
  width: 0;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
